header{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
footer{
    margin-top:20px;
    display: flex;
    justify-content: center;
    background-color: black;
    padding: 25px;
}