.small-card{
    width: 500px;
    margin-bottom: 15px;
}
.small-card-linha{
    display: flex;
    flex-direction: row;
}
.small-card-photo > img{
    width: 200px;
    height: 160px;
    margin-right: 20px;
}
.small-card-title{
    display: flex;
    justify-content: center;
    align-items: center;
}
.small-card-separador{
    margin-top: 15px;
}
@media screen and (max-width: 500px) {
    .small-card{
        width: 90%;
        margin-right: 20px;
        margin-top: 20px ;
        margin-left: 20px;
    }  
    .small-card-title{
       font-size: 20px;
    }
}
@media screen and (min-width: 300px) {
    .small-card{
        width: 90%;
        margin-top: 50px ;
        margin-right: 20px;
        margin-left: 20px;
    }  
    .small-card-title{
        font-size: 12px;
     }
 
}