.small-card{
    width: 500px;
    margin-bottom: 15px;
}
.small-card-linha{
    display: flex;
    flex-direction: row;
}
.small-card-photo > img{
    width: 200px;
    height: 160px;
    margin-right: 20px;
}
.small-card-title{
    display: flex;
    justify-content: center;
    align-items: center;
}
.small-card-separador{
    margin-top: 15px;
}