.content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.content-cover > img{
    width: 500px;
    border: 1px solid #ffffff9f;
}
.content-description{
    margin-top: 15px;
    width: 700px;
}
.content-description > p {
    margin-top: 20px;
    padding: 20px;
    color: gray;
}
.content-voltar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
}
.content-description > ol >li {
    color: gray;
    margin-left: 30px;
    margin-top: 20px;
    padding: 20px;
}
.content-description > h1{
    color: gray;
    padding: 20px;
}