.articles{
    margin-top: 30px;
    display:flex;
    flex-direction: row;
    justify-content: center;
}
@media screen and (max-width: 500px) {
    .articles{
        display:flex;
        flex-direction: column;
    }
}
@media screen and (max-width: 300px) {
    .articles{
        display:flex;
        flex-direction: column;
    }
}
